# See dos how to configure the bundle: https://symfony.com/doc/current/bundles/LiipImagineBundle/basic-usage.html
liip_imagine:
    # valid drivers options include "gd" or "gmagick" or "imagick"
    driver: "gd"
    filter_sets:
        square:    #le nom du filtre
            quality: 75 # c'est un %
            filters:
                thumbnail:
                    size: [400,350]
                    mode: outbound # jette les morceaux qui dépassent
        baniere:    
            quality: 80
            filters:
                upscale:
                    min: [800,400]
                thumbnail:
                    size: [800,400]
                    mode: outbound
        smallsquare:    #le nom du filtre
            quality: 50 # c'est un %
            filters:
                thumbnail:
                    size: [50,50]
                    mode: outbound # jette les morceaux qui dépassent 