{% extends 'users.html.twig' %}

{% block title %}Ajout-Annonce{% endblock %}

{% block body %}
	<h1>Ajouter une Annonce</h1>
	<h4>Maintenir enfoncée la touche cmd pour sélectionner plusieurs images</h4>
	{{ form(form) }}{% endblock %}
