{% extends 'users.html.twig' %}

{% block title %}Calendrier de {{ app.user.name }} {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.css" integrity="sha256-ejA/z0dc7D+StbJL/0HAnRG/Xae3yS2gzg0OAnIURC4=" crossorigin="anonymous">
{% endblock %}
    

{% block body %}<div id="calendar"></div> {% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.js" integrity="sha256-09T+HWYY42Fg2vbaKYazdPEXfs5WB+fdEqd6fCSP/fY=" crossorigin="anonymous"></script>

<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendar")

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'dayGridMonth',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek',
            },
            events: {{ data|raw }},
            editable: true,
            eventResizableFromStart: true 
        })  

        calendar.on('eventChange', (e) => {
            let url =`/api/calendar/${e.event.id}/edit`
            console.log(url)
            let donnees = {
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
                "allDay": e.event.allDay

            }
            console.log(donnees)
            let xhr = new XMLHttpRequest

            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))

        })
        calendar.render()
    }
</script>


{% endblock %}

